[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
pillow = "*"
scikit-learn = "*"
numpy = "*"
imagehash = "*"
opencv-contrib-python = "*"
datasketch = "*"
videohash = "*"
common = "*"
pims = "*"
av = "*"
pydub = "*"
decord = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
